# IntelliJ project files
.idea
*.iml
out
gen
### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### C template
# Prerequisites

# Object files
*.ko
*.elf

# Linker output
*.ilk
*.map
*.exp


# Shared objects (inc. Windows DLLs)
*.so.*

# Executables
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Project exclude paths
/cmake-build-*/

/build/
/mybuild/
/third_party/
/venv/
.vscode/

# libbacktrace automake cache
src/third/libbacktrace/autom4te.cache/
src/third/libbacktrace/config.log
src/third/libbacktrace/config.status
src/third/libbacktrace/configure
src/third/libbacktrace/Makefile
src/third/libbacktrace/*.o
src/third/libbacktrace/*.lo
src/third/libbacktrace/*.la
src/third/libbacktrace/.libs/
src/third/libbacktrace/.deps/
src/third/libbacktrace/libtool
src/third/libbacktrace/backtrace-supported.h
src/third/libbacktrace/config.h
src/third/libbacktrace/install-debuginfo-for-buildid.sh
src/third/libbacktrace/stamp-h1
src/third/libbacktrace/configure~