name: Build OpenWRT Package

on:
  push:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Environment
        run: |
          sudo apt update
          sudo apt install build-essential clang flex bison g++ gawk gcc-multilib g++-multilib \
          gettext git libncurses5-dev libssl-dev python3-distutils rsync unzip zlib1g-dev \
          file wget

      - name: Setup OpenWRT SDK
        run: |
          wget https://downloads.openwrt.org/releases/22.03.4/targets/ramips/mt7620/openwrt-sdk-22.03.4-ramips-mt7620_gcc-11.2.0_musl.Linux-x86_64.tar.xz -O openwrt.tar.xz
          tar -xvJf openwrt.tar.xz
          mv openwrt-sdk-22.03.4-ramips-mt7620_gcc-11.2.0_musl.Linux-x86_64/ openwrt/
          cd openwrt
          ./scripts/feeds update -a
          ./scripts/feeds install -a

      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: openwrt/package/UA2F

      - name: Compile Package
        working-directory: ./openwrt
        run: |
          make defconfig
          make package/UA2F/compile -j2 V=s

      - name: Release Package
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "${{ github.ref }}"
          files: |
            openwrt/bin/packages/mipsel_24kc/base/ua2f*




